.user{
    height: 216px;
    width: 100%;
    background-color: orangered;
}
.userr{
    text-align: center;
    margin-top: -50px;   
}
.color{
    color: white;
}
#dd{
    margin-top: 62px;
    padding: 0 0 30px 0;
}
.hr1{
    background-color: palevioletred;
    height: 2px;
    width: 35px;
    position: absolute;
    left: 30px;
}
.hr2{
    background-color: lightgreen;
    height: 2px;
    width: 35px;
    position: absolute;
    left: 30px;
}
.hr3{
    background-color: orange;
    height: 2px;
    width: 35px;
    position: absolute;
    left: 30px;
}
main{
    padding: 20px;
    background-color: #eee;
    height: 650px;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    height: 62px;
    padding: 10px;
    background-color: white; 
    overflow: hidden;
    font-size: 1.5rem;  
}
