* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
}
img {
    vertical-align: bottom;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
header{
    height: 64px;
    color: gray;
    font-size: 44px;
    position: fixed;
    text-align: center;
    line-height: 64px;
    top: 0px;
    width: 100%;
    background-color: #eee;
    border-bottom: 1px #E0E0E0 solid;          
}
header a{
    float: left;
}
header span:nth-of-type(2){
    float: right;
    box-sizing: border-box;
    padding: 10px 20px 0 0;
}
