/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/*hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}*/
li{
	list-style: none;
	float: left;
}

input, select {
    vertical-align:middle;
}
body{
	background: #F6F6F6;
}

.sco{
	width: 100%;
	height: 48px;
	background: #fff;
	position: fixed;
	z-index: 33;
	border-bottom: 2px solid #f10214;
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	display: none;
	overflow: hidden;
}
.scor{
	width: 1190px;
	height: 48px;
	margin: 0 auto;
}
.scor_left{
	width: 125px;
	height: 40px;
	background-image: url(../img-banner/logo_s.v2.png);
	position: absolute;
	top: 4px;
}
.form1_text{
	width: 490px;
	height: 27px;
	border: 0px;
	background: #EFEFEF;
	padding: 4px;
	position: absolute;
	top: 6px;
	left: 360px;
	
}
.scor button{
	width: 50px;
	height: 35px;
	background-color: #f10215;
	border: none;
	position: absolute;
	top: 6px;
	left: 858px;
}
.immm{
	width: 1349px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
.body_top{
	width: 35px;
	height: 72px;
	position: fixed;
	background: white;
	bottom: 10px;
	right: 0px;
	z-index: 50;
}
.body_top a{
	width: 35px;
	height: 35px;
	display: inline-block;
	background: #7A6E6E;
	border-radius:10px ;
}
.body_top a img{
	margin-left: 7px;
	margin-top: 7px;
}
.body_top a:hover{
	background: #BD0311;
	cursor: pointer;
}
.body_top a:first-child{
	margin-bottom: 2px;
}
.immm img{
	height: 80px;
	margin:0 auto;
	width: 1349px;
}
.immm span{
	position: absolute;
	top: 5px;
	right: 6px;
	color: #555555;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 15px;
}
.immm span:hover{
	background: #999999;
	cursor: pointer;
}
.shortcut{
	width: 100%;
	height: 30px;
	background: #e3e4e5;
	border-bottom: 1px solid #ddd;
}
.w{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	/*background: saddlebrown;*/
}
.beijing{
	width: 57px;
	height:30px;
	margin-left: 200px;
	position: relative;
	float: left;
}
.beijing:hover{
	border: 1px solid #CCCCCC;
	background: white;
	border-bottom: 0px;
	border-top: 0px;
	cursor: pointer;
	box-sizing: border-box;
}
.beijing:hover .Bjing{
	display: block;
	z-index: 22;
}
.beijing img{
	width: 14px;
	height: 15px;
	margin-top:7px;
	float: left;
	margin-left: 5px;
}
.beijing span{
	font-size: 12px;
	color: #999;
	float: left;
	line-height: 30px;
	margin-left: 5px;
}
.Bjing{
	width: 320px;
	height: 215px;
	background: white;
	position: absolute;
	top: 30px;
	left: -1px;
	border: 1px solid #CCCCCC;
	display: none;
}
.hrr{
	width: 55px;
	height: 2px;
	background: white;
	position: absolute;
	top: -2px;
	/*z-index: 33;*/
}
.beijing_x{
	width: 320px;
	height: 215px;
}
.item{
	width: 320px;
	height: 215px;

}
.item li{
	list-style: none;
	float: left;
	width: 50px;
	height: 25px;
	margin-top: 5px;
	margin-left: 11px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	color: #999;
}
.item li:first-child{
	background:red;
}
.item li:hover{
	background: #E3E4E5;
	color: red;
	cursor: pointer;
}
.fr{
	width: 704px;
	height: 30px;
	/*background: saddlebrown;*/
	float:right;
	font-size: 12px;
	line-height: 30px;
}
.ttbar{
	float: left;
}
.spacer{
	width: 1px;
	height: 12px;
	float: left;
	background: #999999;
	margin-top: 9px;
	margin-left: 9px;
}
.ttbar_a1{
	color: #999999;
}
.ttbar_a2{
	color: red;
	margin-left: 7px;
}
.ttbar_one{
	float: left;
	margin-left: 10px;
}
.ttbar_two{
	/*background: white;*/
	width: 75px;
	height: 30px;
	float: left;
	margin-left: 5px;
	text-align: center;
	position: relative;
}
.ttbar_two:hover{
	border: 1px solid #CCCCCC;
	border-bottom: 0px;
	border-top: 0px;
	box-sizing: border-box;
	background: white;
	cursor: pointer;
}
.ttbar_two:hover .my_jd{
	display: block;
	cursor: pointer;
	z-index: 22;
}
.my_jd_item:hover{
	color: #c81623;
}
.my_jd{
	position: absolute;
	width: 270px;
	height: 165px;
	background: white;
	top: 30px;
	left: -1px;
	border: 1px solid #CCCCCC;
	display: none;
}
.hr1{
	width: 75px;
	height: 1px;
	background:white;
	position: absolute;
	top: -1px;
}
.my_jd_item{
	width: 126px;
	height: 25px;
	/*background: sandybrown;*/
	margin-left:6px;
	margin-top: 5px;
	float: left;
	line-height: 25px;
	text-align: left;
	color: #999999;
}
.ttbar_three{
	float: left;
	margin-left: 10px;
}
.ttbar_four{
	float: left;
	margin-left: 10px;
}
.ttbar_five{
	/*background: white;*/
	width: 77px;
	height: 30px;
	float: left;
	margin-left: 5px;
	text-align: center;
	position: relative;
}
.ttbar_five:hover .ttbar_five_kh{
	display: block;
	cursor:  pointer;
	z-index: 22;
}
.ttbar_five:hover{
	border: 1px solid #CCCCCC;
	border-bottom: 0px;
	border-top: 0px;
	box-sizing: border-box;
	background: white;
	cursor: pointer;
}
.ttbar_five_kh_item:hover{
	color: #C81623;
}
.ttbar_five_kh{
	position: absolute;
	top: 30px;
	width:155px;
	height: 210px;
	left: -78px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	display: none;
	background: white;
}
.hr2{
	width: 77px;
	height: 1px;
	background: white;
	position: absolute;
	top: -1px;
	left: 77px;
}
.ttbar_five_kh h3{
	font-size: 13px;
	line-height: 20px;
	text-align: left;
	margin-left: 10px;
	margin-top: 5px;
	color: #666666;
}
.ttbar_five_kh_item{
	width: 75px;
	height: 25px;
	/*background: seagreen;*/
	float: left;
	font-size: 13px;
	color: #999999;
}
.ttbar_six{
	/*background: white;*/
	width: 77px;
	height: 30px;
	float: left;
	margin-left: 5px;
	text-align: center;
	position: relative;
}
.ttbar_six_nav{
	width: 1200px;
	height: 180px;
	top: 30px;
	left: -1024px;
	position: absolute;
	border: 1px solid #CCCCCC;
	display: none;
	background: white;
}
.ttbar_six:hover .ttbar_six_nav{
	display: block;
	z-index: 22;
	cursor: pointer;
}
.ttbar_six:hover{
	border: 1px solid #CCCCCC;
	border-bottom: 0px;
	border-top: 0px;
	box-sizing: border-box;
	background: white;
	cursor: pointer;
}
.ttbar_six_nav_one:hover{
	color: #C81623;
}
.hr3{
	width: 77px;
	height: 1px;
	background: white;
	position: absolute;
	top: -1px;
	left: 1023px;
}
.ttbar_six_nav_1{
	width: 341px;
	height:160px;
	margin: 10px 5px;
	/*background: sienna;*/
	float: left;
	border-right: 1px solid #CCCCCC;
	box-sizing: border-box;
}
.ttbar_six_nav_2{
	width: 270px;
	height:160px;
	margin: 10px 5px;
	/*background: sienna;*/
	float: left;
	border-right: 1px solid #CCCCCC;
	box-sizing: border-box;
}
.ttbar_six_nav_3{
	width: 270px;
	height:160px;
	margin: 10px 5px;
	/*background: sienna;*/
	float: left;
	border-right: 1px solid #CCCCCC;
	box-sizing: border-box;
}
.ttbar_six_nav_4{
	width: 270px;
	height:160px;
	margin: 10px 5px;
	/*background: sienna;*/
	float: left;
	box-sizing: border-box;
}
.ttbar_six_nav h3{
	text-align: left;
	margin-left: 15px;
	color: #666666;
}
.ttbar_six_nav_one{
	width: 70px;
	height: 24px;
	/*background: salmon;*/
	float: left;
	margin-left: 15px;
	margin-top: 0px;
	font-size: 12px;
	text-align: left;
	color: #999999;
}
.ttbar_seven{
	/*background: white;*/
	width: 77px;
	height: 30px;
	float: left;
	margin-left: 5px;
	text-align: center;
	position: relative;
}
.ttbar_seven_img1{
	position: absolute;
	top: 30px;
	left: 12px;
}
.ttbar_seven_img2{
	position: absolute;
	top: 24px;
	left: 37px;
}
.ttbar_seven:hover .erweima{
	display: block;
	z-index: 22;
}
.erweima{
	width: 185px;
	height: 250px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	position: absolute;
	left: -100px;
	top: 30px;
	display: none;
	z-index: 22;
}
/*第二部分*/
.header{
	width: 100%;
	height: 140px;
	background: #F6F6F6;
}
.header_mar{
	width: 1200px;
	height: 140px;
	margin: 0 auto;
	/*background: sandybrown;*/	
	position: relative;
}
.logo{
	width: 190px;
	height: 170px;
	background:white;
	position: absolute;
	top: -30px;
	box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.1);
}
.form{
	width:900px;
	height: 60px;
	/*border: 1px solid #CCCCCC;*/
	box-sizing: border-box;
	margin-left: 320px;
	
}
.form_text{
	width: 490px;
	height: 25px;
	border: 1px solid #f10215;
	padding: 4px;
	margin-top: 23px;
	float: left;
}
.form button{
	width: 50px;
	height: 35px;
	float: left;
	margin-top: 23px;
	background-color: #f10215;
	border: none;
}
.gwc{
	width: 188px;
	height: 33px;
	background: white;
	text-align: center;
	float: left;
	margin-top: 25px;
	margin-left: 20px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
.gwc img{
	float: left;
	margin-top: 8px;
	margin-left: 45px;
}
.gwc span{
	line-height: 33px;
	font-size: 12px;
	color: #F10215;
	float: left;
	margin-left: 10px;
}
.gwc a{
	display: inline-block;
	color: white;
	width: 15px;
	height: 15px;
	font-size: 12px;
	background: red;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
.gwc_xia{
	width: 308px;
	height: 69px;
	border: 1px solid #CCCCCC;
	position: absolute;
	top: 31px;
	left: -123px;
	background: white;
	display: none;
	cursor: pointer;
}
.gwc_xia img{
	float: left;
	margin: 0;
	padding: 0;
	margin-left: 20px;
	margin-top: 7px;
}
.gwc_xia span{
	color: #999999;
	font-size: 13px;
	float: left;
	line-height: 69px;
}
.gwc:hover .gwc_xia{
	display: block;
}
.hr4{
	width: 187px;
	height: 1px;
	background: white;
	position: absolute;
	top: -1px;
	left: 122px;
}
.form_buttom{
	width: 500px;
	height: 25px;
	/*background: seagreen;*/
	margin-left: 320px;
}
.form_buttom ul li{
	float: left;
	list-style: none;
	margin-right: 14px;
	font-size: 12px;
	color: #666666;	
}
.form_buttom ul li:first-child{
	color: #C81623;
}
.form_buttom ul li:hover{
	color: #C81623;
	cursor: pointer;
}
.header_nav{
	width: 700px;
	height: 40px;
	/*background: seagreen;*/
	margin-left: 230px;
	margin-top: 13px;
	float: left;
}
.header_nav ul li{
	list-style: none;
	float: left;
	margin-right: 30px;
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #555555;
}
.header_nav ul li:hover{
	color: #C81623;
	cursor: pointer;
}
.haier{
	width: 190px;
	height: 40px;
	background-image: url(../img/585fa661N8b90daa7.png);
	float: left;
	margin-left: 60px;
	margin-top: 7px;
}
/*banner*/
.fs{
	width: 100%;
	height: 480px;
	
}
.FS{
	width: 1200px;
	height: 480px;
	margin: 0 auto;
	/*background: salmon;*/
}
.cate{
	width: 190px;
	height: 480px;
	background: #6E6568;
	position: relative;
	float: left;
}
.cate ul{
	width: 190px;
	height: 450px;
	display: inline-block;
	margin-top: 15px;
	
}
.cate ul li{
	list-style: none;
	width: 190px;
	height: 30px;
	color: white;
	cursor: pointer;
}
.cate>ul>li>a{
	line-height: 30px;
	font-size: 14px;
	letter-spacing: 2px;
}
.cate>ul>li>a:first-child{
	margin-left: 10px;
}
.cate>ul>li>a:hover{
	color: #C81623;
}
.cate ul li:hover{
	background:#999999;
}
.cate>ul>li>div{
	width: 1010px;
	height: 480px;
	background: #F6F6F6;
	position: absolute;
	top:0px;
	left: 190px;	
	box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 100;
}
.cate>ul>li:hover div{
	display: block;
}
.cate_one{
	width: 800px;
	height: 24px;
	margin-top: 20px;
	margin-left: 15px;
}
.cate_one_top{
	height: 24px;
	float: left;
	background: #5c5251;
	margin-left: 10px;
}
.cate_one_top>a{
	line-height: 24px;
	margin-left: 4px;
	float: left;
	font-size: 13px;
}
.cate_one_top img{
	float: left;
	margin-top: 6px;	
}
.cate_one_body{
	width: 790px;
	height: 432px;

	margin-top: 5px;
	margin-left: 20px;
	float: left;
	overflow: hidden;
}

.cate_one_body dl{
	height: 36px;
	width: 800px;
	/*background: sandybrown;*/
	font-size: 12px;
	position: relative;
	line-height: 0;

}
.cate_one_body>dl>dt{
	width: 70px;
	font-weight: bold;
	color: #666666;
	/*background: black;*/
	line-height: 36px;
	text-align: right;
	position: absolute;
	left: 0;
}
.cate_one_body>dl>dt>a{
	margin-right: 3px;
	
}
.cate_one_body>dl>dt>img{
	float: right;
	margin-top: 12px;
}
.cate_one_body>dl>dd>a{
	line-height: 16px;
	height: 16px;
	margin: 10px 0;
	padding: 0 10px;
	float: left;
	border-left:1px solid #e0e0e0;
	white-space: nowrap;
	color: #666666;
}
.cate_one_body>dl>dd{
	/*width: 720px;
	height: 100%;*/
	margin-left: 70px;
	border-bottom: 0.5px solid #e0e0e0;
}
.cate_one_head{
	width: 198px;
	height: 424px;
	float: left;
}
.cate_one_head_top{
	width: 168px;
	height: 144px;
}
.cate_one_head_top>img{
	float: left;
}

/*轮播*/
.BANNER{
	width: 790px;
	height: 480px;
	float: left;
	margin-left: 10px;
}
.wrapper{
	position:relative;
	width:790px;
	height: 340px;
}
.wrapper .banner{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width:790px;
	height: 340px;
	overflow: hidden;
}
.wrapper li{
	list-style: none;
	cursor: pointer;
}
.banner li{
	float: left;
}
.btn{
	position: absolute;
	z-index: 2;
	width: 100%;
	display: none;
}
.btn .left_btn,.right_btn{
	width: 30px;
	height: 50px;
	position: absolute;
	top: 160px;
	background:rgba(0,0,0,0.2);
	line-height: 50px;
	text-align: center;
	color: white;
}
.left_btn:hover,.right_btn:hover{
	background:rgba(0,0,0,0.7);
	cursor: pointer;
}
.left_btn{
	left:0px;
}
.btn .right_btn{
	right: 0;
}
.list{
	position: absolute;
	left:290px;
	bottom:10px;
	width:200px;
	z-index: 2;
}
.list ul{
	width: 200px;
	height: 15px;
	background: hsla(0,0%,100%,.3);
	border-radius:15px;
}
.list li{
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	text-align: center;
	margin-left: 13px;
	margin-top: 2px;
	color: white;
}
.list li:hover{
	background:black;
}

/*banner结束*/
.banner_head{
	width: 790px;
	height: 130px;
	/*background: sandybrown;*/
	margin-top: 10px;
}
.banner_head img{
	margin-right: 2px;
}

.banner_right{
	width: 190px;
	height: 100%;
	float: left;
	background: white;
	margin-left: 10px;
}
.banner_right_user{
	padding: 0 10px;
	height: 115px;
	border-bottom: 1px solid #e6e6e6;
}
.banner_right_user_top{
	width: 170px;
	height: 75px;
	/*background: sandybrown;*/
}
.banner_right_user_top img{
	width: 45px;
	height: 45px;
	margin-top: 15px;
	float: left;
	border-radius: 50%;
}
.banner_right_user_to{
	float: left;
	width: 110px;
	height: 38px;
	/*background: seagreen;*/
	color: #666;
	font-size: 13px;
	margin-left: 10px;
	margin-top: 15px;
	line-height: 19px;
}
.banner_right_user_top a{
	color: black;
	margin-right: 15px;
}
.banner_right_user_head{
	width: 170px;
	height: 24px;
	/*background: seagreen;*/
}
.banner_right_user_head a{
	width: 74px;
	height: 24px;
	border: 2px solid #e01222;
	box-sizing: border-box;
	margin-left: 5px;
	font-size: 13px;
	display: inline-block;
	line-height: 20px;
	padding-left: 7px;
}
.banner_right_user_head a:hover{
	background:#e01222 ;
	color: white;
	cursor: pointer;
}
.banner_right_news{
	width: 170px;
	height: 154px;
	/*background: seagreen;*/
	margin-left: 10px;	
}
.banner_right_news_top{
	height: 27px;
	width: 170px;
	/*background: silver;*/
	border-bottom: 1px solid #E6E6E6;
}
.banner_right_news_top ul{
	position: relative;
}
.banner_right_news_top ul li{
	float: left;
	list-style: none;
	font-size: 12px;
	width: 37px;
	border-right: 1px solid #e6e6e6 ;
	line-height: 27px;
	padding-left: 10px;	
}
.banner_right_news_top ul li>div{
	width: 160px;
	height: 120px;
	position: absolute;
	top: 27px;
	left: 5px;
	color: #666666;
	font-size: 12px;
	display: none;
}
.banner_right_news_top ul li:hover div{
	display: block;
	cursor: pointer;
}
.banner_right_news_top ul li:hover{
	border-bottom: 2px solid #E01222;
	cursor: pointer;
}
.ul_p{
	position: absolute;
	font-size: 12px;
	top: 8px;
	left: 135px;
}
.ul_p:hover{
	color: #E01222;
	cursor: pointer;
}
.banner_right_nine{
	width: 185px;
	height: 200px;
	/*background: sandybrown;*/
	overflow: hidden;
	border-top: 1px solid #E6E6E6;
	position: relative;
}
.ul11{
	width: 190px;
	height: 210px;
	position: absolute;
	/*display: none;*/
	
}
.ul11 li{
	width: 47px;
	height: 70px;
	border-bottom:1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	box-sizing: border-box;
	list-style: none;
	float: left;
	overflow: hidden;
	text-align: center;
}
.ul11 li span{
	font-size: 12px;
	color: #666666;
	height: 22px;
	line-height: 22px;
}
.ul11>li>span:hover{
	color: #C81623;
	cursor: pointer;
}
.ul22{
	width: 190px;
	height: 210px;
	position: absolute;
	background: white;
	top: 200px;
	z-index: 333;
	position: relative;
}
.ul22 span{
	position: absolute;
	top: 20px;
	right: 6px;
	color: #555555;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 15px;
}
.ul22 span:hover{
	background: #333333;
	cursor: pointer;
}
.ul22 ul{
	width: 190px;
	height: 20px;
	/*background: sandybrown;*/
	margin-top: 10px;
}
.ul22 ul li{
	width: 50px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	float: left;
	border: 1px solid #DEDEDE;
	border-top: 0px;
	box-sizing: border-box;
	color: #666666;
}

.ul22 ul li:first-child{
	width: 40px;
}
.ull_p1{
	width:190px;
	height: 40px;
	line-height: 40px;
	color: #999999;
	font-size: 13px;
}
.ull_p1 a{
	margin-left: 6px;
}
.ul22 label{
	color: #999999;
	font-size: 12px;
	margin-top: 5px;
}
.ul22 input{
	width: 130px;
}
.ul22 button{
	width: 90px;
	height: 30px;
	border: 0px;
	background: #BD0311;
	color: white;
	line-height: 30px;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
}

/*第三部分*/
.MIAOS{
	width: 100%;
	height: 305px;
	margin-top: 10px;
	background: #F6F6F6;
}
.MIAOS_DIV{
	width: 1200px;
	height: 305px;
	margin: 0 auto;
}
.miaos{
	width: 1190px;
	height: 305px;
	overflow: hidden;
	background: white;
}
.miaos_top{
	width: 1190px;
	height: 55px;
	background-image: url(../img/seckill_hd.png);
	position: relative;
}
.left_top{
	position: absolute;
	width: 30px;
	z-index: -1;
	height: 30px;
	background: #BD0311;
	left: 3px;
	top: 3px;
}
.miaos_top h3{
	font-family: fzzhengheis-el-gbregular;
	font-size: 26px;
	font-weight: 100;
	line-height: 32px;
	height: 40px;
	padding-top: 9px;
	color: white;
	float: left;
}
.miaos_top>a{
	margin-left: 15px;
	color: white;
	font-size: 14px;
	float: left;
	margin-top: 25px;
}
.miaos_top_img1{
	float: left;
	margin-left: 30px;
}
.miaos_top_img2{
	float: left;
	margin-left: 5px;
}
.timer{
	position: absolute;
	width: 269px;
	height: 55px;
	/*background: salmon;*/
	right: 20px;
	top: 0;
}
.timer a{
	font-size: 14px;
	color: white;
	line-height: 65px;
	float: left;
	margin: 0 4px;
}
.timer span{
	float: left;
	display: inline-block;
	width: 35px;
	height: 37px;
	background: #440106;
	border-radius:3px;
	margin-top: 10px;
	color: #f90013;
	font-size: 22px;
	font-weight: bold;
	line-height: 37px;
	text-align: center;
}
.timer i{
	float: left;
	font-style: normal;
	font-size: 35px;
	font-weight: 800;
	margin-top: 5px;
}
.miaos_body{
	width: 1190px;
	height: 250px;
	/*background: saddlebrown;*/
	padding: 12px 0 13px;
}
.miaos_body ul{
	width: 1000px;
	height: 225px;
	/*background: salmon;*/
	float: left;
}
.miaos_body ul li{
	list-style: none;
	float: left;
	width: 200px;
	height: 225px;
	border-left:1px solid #e7e7e7;
	box-sizing: border-box;
}
.miaos_body_img{
	margin-left: 30px;
	margin-top: 10px;
	transition: transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease;
	
}
.miaos_body_img:hover{
	transform: translateY(-5px);
}
.miaos_body_im1{
	margin-left: 30px;
}
.miaos_p1{
	display: block;
	overflow: hidden;
	font-size: 12px;
	text-align: center;
	height: 32px;
	line-height: 16px;
	margin-top: 10px;
	color: #999999;
}
.miaos_p2{
	padding: 3px 0;
	height: 25px;
	color: #f10214;
}
.miaos_p2_sp1{
	margin-left: 20px;
}
.miaos_p2_sp1 span{
	font-size: 18px;
	font-weight: 800;
}
.miaos_p2_sp1 i{
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
}
.miaos_p2_sp2 i{
	font-style: normal;
}
.miaos_p2_sp2{
	color: #999999;
	font-size: 12px;
	margin-left: 5px;
}
.miaos_body>img{
	float: left;
}
/*第四部分*/
.CONPON{
	width: 100%;
	height: 215px;
	background: #F6F6F6;
	margin-top: 10px;
}
.conpon{
	width: 1200px;
	height: 215px;
	margin: 0 auto;
	/*background: saddlebrown;*/
}
.conpon_left{
	width: 200px;
	height: 215px;
	background: #EA3524;
	float: left;
}
.conpon_left h3{
	font-size: 30px;
	font-weight:400;
	height: 36px;
	line-height: 36px;
	color: white;
	margin-left: 20px;
	margin-top: 30px;
	letter-spacing: 5px;
}
.conpon_left_hr{
	display: block;
	width: 55px;
	height: 3px;
	background: white;
	margin: 10px 0px 20px 20px;
}
.conpon_left p{
	height: 20px;
	line-height: 20px;
	color: white;
	font-size: 12px;
	margin-left: 20px;
}
.conpon_left_spa{
	display: block;
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
	/*padding: 2px 35px 4px 15px;*/
	height: 25px;
	border: 2px solid #fff;
	box-sizing: border-box;
	line-height: 18px;
	width: 130px;
	color: white;
	font-size: 13px;
	padding-left: 7px;
}
.conpon_left_spa img{
	position: absolute;
	left: 95px;
	top: 1px;
}
.conpon_right{
	width: 1000px;
	height: 215px;
	background: white;
	float: left;
}
.conpon_right ul{
	width: 1000px;
	height: 199px;
	margin-top: 8px;
	/*background: salmon;*/
}
.conpon_right ul li{
	list-style: none;
	float: left;
	width: 200px;
	height: 199px;
	border-left: 1px solid #CCCCCC;
	box-sizing: border-box;
	position: relative;
}
.conpon_right_lidiv{
	width: 100px;
	height: 180px;
	position: absolute;
	z-index: 1;
	left: 15px;
	top: 15px;
	border-top: 3px solid #e93524;
	background: white;
}
.conpon_right_lidiv_p1{
	margin-top: 7px;
	height: 36px;
	line-height: 36px;
	font-size: 34px;
	font-weight: 700;
	color:#f10214;
}
.conpon_right_lidiv_p1 i{
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	margin-right: 3px;
}
.conpon_right_lidiv_p2{
	margin-top: 6px;
	height: 36px;
	line-height: 14px;
	color: #e93524;
	font-size: 12px;
}
.conpon_right_lidiv_p3{
	width: 80px;
	height: 36px
	margin-top: 10px;
}
.conpon_right_lidiv_p4{
	height: 26px;
	text-align: center;
	width: 100px;
	line-height: 26px;
	color: white;
	font-size: 12px;
	background: #E93524;
}
.conpon_right_lidiv_img{
	position: absolute;
	left: 45px;
	top: 25px;
	transition: transform .5s;
}
.conpon_right>ul>li:hover .conpon_right_lidiv_img{
	transform: translateX(15px);
	cursor: pointer;
}

/*第五部分*/
.F_P_P{
	width: 100%;
	height: 444px;
	background: #F6F6F6;
}
.f_p_p{
	width:1200px;
	height: 444px;
	margin: 0 auto;
	/*background: salmon;*/
	margin-top: 30px;
}
.fh{
	width: 390px;
	height: 444px;
	background:white ;
	float: left;
	margin-right: 10px;
}
.fh_top{
	height: 55px;
	background: #4998a1;
}
.fh_top_left{
	width: 20px;
	height: 20px;
	background-image: url(../img/2016-12-28_110441.png);
	float: left;
}
.fh_top h3{
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	height: 40px;
	color: white;
	float: left;
	margin-top: 5px;
	margin-left: 15px;
}
.fh_top a{
	float: left;
	font-size: 13px;
	color: white;
	margin-left: 130px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
}
.fh_top img{
	float: left;
	margin-top: 25px;
	margin-left: 5px;
}
.fh_body{
	height: 389px;
	width: 390px;
	background: white;
}
.fh_body ul{
	width: 370px;
	height: 360px;
	margin-top:15px;
	margin-left: 10px;
}
.fh_body ul li{
	width: 185px;
	height: 120px;
	float: left;
	background: white;
	list-style: none;
	position: relative;
	border-right:1px solid #CCCCCC;
	box-sizing: border-box;
	border-bottom: 1px solid #CCCCCC;
}
.fh_body ul li p{
	font-size: 14px;
	color: #4998a1;
	position: absolute;
	top: 15px;
	left: 20px;
	line-height: 20px;
	width: 80px;
	z-index: 1;
}
.fh_body ul li img{
	position: absolute;
	bottom: 5px;
	right: 10px;
	transition: transform .6s;
}
.fh_body ul li img:hover{
	transform: translateX(-15px) ;
}
.fh_hr1{
	height: 360px;
	width: 1px;
	background: seagreen;
	position: absolute;
	top: 10px;
	left: 10px;
	
}
.ph{
	width: 390px;
	height: 444px;
	background: white;
	float: left;
	margin-right: 10px;
}
.ph_top{
	height: 55px;
	background: #752252;
}
.ph_top_left{
	width: 20px;
	height: 20px;
	background-image: url(../img/2016-12-28_120128.png);
	float: left;
}
.ph_top h3{
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	height: 40px;
	color: white;
	float: left;
	margin-top: 5px;
	margin-left: 15px;
}
.ph_top a{
	float: left;
	font-size: 13px;
	color: white;
	margin-left: 120px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
}
.ph_top img{
	float: left;
	margin-top: 25px;
	margin-left: 5px;
}
.ph_body{
	height: 389px;
	width: 390px;
	background: white;
	margin-top: 15px;
}
.ph_body ul{
	width: 370px;
	height: 239px;
	/*background: saddlebrown;*/
	margin-left: 10px;
}
.ph_body ul li{
	list-style: none;
	width: 185px;
	height: 239px;
	/*background: saddlebrown;*/
	float: left;
	border-right:1px solid #CCCCCC;
	box-sizing: border-box;
	padding: 15px 22px 10px 23px;
}
.ph_body ul li img{
	transition: transform .4s;
}
.ph_body ul li img:hover{
	transform: translateX(5px);
}
.ph_body_p1{
	font-size: 16px;
	color: #8b3a6d;
	margin-bottom: 5px;
	height: 18px;
	line-height: 18px;
}
.ph_body_p2{
	color: #666666;
	height: 36px;
	margin-bottom: 5px;
	font-size: 12px;
}
.ph_body_div{
	width: 19px;
	height: 3px;
	background: #8b3a6d;
	margin-bottom: 12px;
}
.ph_body>img{
	margin-left: 10px;
}
.pb{
	width: 390px;
	height: 444px;
	background: white;
	float: left;
}
.pb_top{
	height: 55px;
	background: #E56804;
}
.pb_top_left{
	width: 20px;
	height: 20px;
	background-image:url(../img/2016-12-28_120148.png);
	float: left;
}
.pb_top h3{
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	height: 40px;
	color: white;
	float: left;
	margin-top: 5px;
	margin-left: 15px;
}
.pb_top a{
	float: left;
	font-size: 13px;
	color: white;
	margin-left: 160px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
}
.pb_top img{
	float: left;
	margin-top: 25px;
	margin-left: 5px;
}
.pb_body{
	height: 389px;
	width: 390px;
	background: white;	
	margin-top: 15px;
}
.pb_body_top{
	width: 370px;
	height: 32px;
	/*background: sandybrown;*/
	margin-left: 10px;
}
.pb_body_top ul{
	width: 370px;
	height: 32px;
}
.pb_body_top ul li{
	width: 74px;
	margin-top: 3px;
	height: 26px;
	line-height: 26px;
	list-style: none;
	float: left;
	text-align: center;
	font-size: 14px;
	border-left: 1px solid #CCCCCC;
	box-sizing: border-box;
	color: #666666;
}
.pb_body_top ul li:hover{
	color: #c81623;
	border-bottom: 2px solid #c81623;
	cursor: pointer;
}
.pb_body_top ul li:first-child{
	border-left: 0px;
}
.pb_body_head{
	width: 375;
	height: 335px;
	/*background: seagreen;*/
}
.pb_body_head ul{
	width: 375px;
	height:324px;
	margin-left: 7px;
	margin-top: 10px;
}
.pb_body_head ul li{
	width:125px;
	height:162px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	position: relative;
}
.pb_body_head ul li img{
	margin-left: 13px;
}
.pb_body_head ul li p{
	height: 32px;
	text-align: left;
	padding: 0 10px;
	line-height: 16px;
	color: #666666;
	font-size: 12px;
	margin-top: 10px;
}
.pb_body_div1{
	width: 30px;
	height: 40px;
	position: absolute;
	background-image: url(../img/2016-12-28_153121.png);
	left: 5px;
	top: 5px;
}
.pb_body_head h3{
	font-size: 25px;
	font-weight: 300;
	color: white;
	text-align: center;
}
.pb_body_div2{
	width: 30px;
	height: 40px;
	position: absolute;
	background-image:url(../img/2016-12-28_153220.png);
	left: 5px;
	top: 5px;
}
.pb_body_div3{
	width: 30px;
	height: 40px;
	position: absolute;
	background-image: url(../img/2016-12-28_153156.png);
	left: 5px;
	top: 5px;
}
.pb_body_div4{
	width: 30px;
	height: 40px;
	position: absolute;
	background-image:url(../img/2016-12-28_153235.png);
	left: 5px;
	top: 5px;
}

/*第六部分*/
.rec{
	width: 100%;
	height: 100px;
	background: #E0E0E0;
	margin: 40px 0px  40px 0px;
}
.rec ul{
	width: 1190px;
	height: 100px;
	margin: 0 auto;
}
.rec ul li{
	float: left;
}

/*第七部分*/

.LIFE{
	width: 100%;
	height: 405px;	
}
.life{
	width: 1190px;
	height: 405px;
	background: saddlebrown;
	margin: 0 auto;
}
.life_top{
	height: 55px;
	background: #F6F6F6;
}
.life_top img{
	float: left;
	margin-top: 22px;
}
.life_top h3{
	float: left;
	display: inline;
	padding: 0 55px;
	background: #f6f6f6;
	font-weight: 400;
	font-size: 26px;
	color: #333;
	margin-top: 10px;
}
.life_body{
	width: 1190px;
	height: 350px;
}
.life_body ul{
	width: 1200px;
}
.life_body ul li{
	width: 390px;
	height: 170px;
	float: left;
	margin: 0 10px 10px 0;
	background: white;
	position: relative;	
	overflow: hidden;
}
.life_body_div{
	width: 36%;
	height: 170px;	
	background: rgba(215,142,39,0.9);
	color: white;
	position: absolute;
	z-index: 2;
}
.life_body_div h4{
	font-size: 17px;
	width: 80px;
	height: 40px;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	line-height: 40px;
	text-align: center;
	font-weight: 400;
	margin-top: 40px;
	margin-left: 30px;
}
.life_body_div p{
	margin-left: 30px;
	font-size: 13px;
	margin-top: 8px;
	height: 32px;
	line-height: 16px;
}
.life_body>ul>li>img{
	transition:transform 0.3s;
	position: absolute;
}
.life_body>ul>li>img:hover{
	transform: translateX(-10px);
	cursor: pointer;
}
                                                                 /*服饰美妆*/
.PRT{
	width: 100%;
	height: 100%;
	margin-top:30px;
}
.protal{
	width: 1190px;
	height: 100%;
	margin: 0 auto;
}
.protal_body{
	width: 1190px;
	height: 3300px;
	margin-bottom: 20px;
}
.protal_body_left{
	width: 590px;
	height: 523px;
	float: left;
	margin-bottom: 30px;
	margin-left: 3px;
	
}
.protal_body_left_top1{
	width: 590px;
	height: 58px;
	background: #974676;
}
.protal_body_left_top2{
	width: 590px;
	height: 58px;
	background: #CA355A;
}
.protal_body_left_top3{
	width: 590px;
	height: 58px;
	background: #674083;
}
.protal_body_left_top4{
	width: 590px;
	height: 58px;
	background: #5A698F;
}
.protal_body_left_top5{
	width: 590px;
	height: 58px;
	background: #3A8298;
}
.protal_body_left_top6{
	width: 590px;
	height: 58px;
	background: #974676;
}
.protal_body_left_top7{
	width: 590px;
	height: 58px;
	background: #36A7A5;
}
.protal_body_left_top8{
	width: 590px;
	height: 58px;
	background: #528A79;
}
.protal_body_left_top9{
	width: 590px;
	height: 58px;
	background: #A0643E;
}
.protal_body_left_top10{
	width: 590px;
	height: 58px;
	background: #E2663E;
}
.protal_body_left_top11{
	width: 590px;
	height: 58px;
	background: #715B53;
}
.protal_body_left_top12{
	width: 590px;
	height: 58px;
	background: #5F5E9A;
}
.protal_h3{
	float: left;
	font-size: 22px;
	color: white;
	height: 26px;
	line-height: 26px;
	font-weight: 400;
	margin-top: 13px;
	margin-left: 30px;
	font-family: fzzhengheis-el-gbregular;
}
.protal_ul{
	float: left;
	margin-top: -23px;
	margin-left: 160px;
}
.protal_ul li{
	height: 26px;
	line-height: 26px;
	float: left;
	border: 1px solid #C187AF;
	box-sizing: border-box;
	font-size: 12px;
	padding: 0 10px;
	margin-left: 10px;
	color: white;
}
.protal_ul li:hover{
	border: 1px solid white;
	cursor: pointer;
}

.protal_body_left_body{
	width: 590px;
	height: 465px;
	/*padding: 10px;*/
	background: white;
	overflow: hidden;
}
.protal_body_left_body_1{
	width: 579px;
	height: 260px;
	margin-left: 10px;
	margin-top: 10px;
}
.protal_div_left{
	width: 193px;
	height: 260px;
	float: left;
}
.protal_div_right{
	width: 376px;
	height: 260px;
	float: left;
	margin-left: 10px;
	background: white;
	position: relative;
}
.protal_div_right a{
	width: 188px;
	height: 130px;
	float: left;
	position: relative;
}
.protal_div_right a>p{
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: 14px;
	z-index: 1;
	color: #974676;
}
.protal_div_right a>span{
	position: absolute;
	top: 50px;
	left: 25px;
	font-size: 12px;
	color: #666666;
	z-index: 1;
}
.protal_div_right>a>img{
	position: absolute;
	bottom: 10px;
	right: 5px;
	transition: transform 0.5s;
}
.protal_div_right>a>img:hover{
	transform: translateX(-5px);
}
.hr5{
	width: 366px;
	height: 1px;
	background: #e6e6e6;
	position: absolute;
	top: 130px;
	left: 0;
	z-index: 2;
	display: block;
}
.hr6{
	width: 1px;
	height: 260px;
	background: #e6e6e6;
	position: absolute;
	top: 0;
	left: 188px;
	z-index: 2;
	display: block;
}

.protal_body_left_body_2{
	width: 571px;
	height: 130px;
	overflow: hidden;
	margin-top: 10px;
	margin-left: 10px;
}
.protal_body_left_body_2 a{
	width: 190px;
	height: 130px;
	background: white;
	overflow: hidden;
	display: inline-block;
	float: left;
}
.protal_body_left_body_2>a>img{
	width: 190px;
	height: 130px;
	transition: transform 0.5s;
}
.protal_body_left_body_2>a>img:hover{
	transform: translateX(-10px);
}
.protal_body_left_body_2>a:first-child{
	margin-left: 0px;
}
.protal_body_left_body_3{
	width:570px;
	height: 35px;
	background: white;
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
}
.ull1{
	width:570px;
	height: 20px;
	position: absolute;
}
.ull1 li{
	width: 95px;
	height: 20px;
	border-left: 1px solid #dedfe0;
	box-sizing: border-box;
	float: left;
	margin-top: 7px;
	position: relative;
}
.ull1 li img{
	position: absolute;
	margin-left: 12px;
	top: -7px;
}
.ull1 li:first-child{
	border-left: 0px;
}

.ull2{
	width:570px;
	height: 20px;
	position: absolute;
	left: 570px;
}
.ull2 li{
	width: 95px;
	height: 20px;
	border-left: 1px solid #dedfe0;
	box-sizing: border-box;
	float: left;
	margin-top: 7px;
	position: relative;
}
.ull2 li img{
	position: absolute;
	margin-left: 12px;
	top: -7px;
}
.ull2 li:first-child{
	border-left: 0px;
}
.protal_body_left_body_3>a{
	position: absolute;	
	z-index: 4;
	color: #736b6f;
	font-weight: bold;
}
.protal_body_left_body_3>a:hover{
	color: #c81623;
	cursor: pointer;
}
.pa1{
	top: 8px;
	right: 0px;
}
.pa2{
	top: 8px;
	left: -4px;
}

.footer{
	width: 1349px;
	height: 500px;
	margin-top: 40px;
	background: #EAEAEA;
	position: relative;
	margin: 0 auto;
}
.footer_center{
	width: 1190px;
	height: 500px;
	margin: 0 auto;
}
.footer-top{
	width:1190px;
	height: 103px;
	/*background: salmon;*/
	position: relative;
}
.footer-top ul{
	width: 1190px;
	height: 42px;
	/*background: sandybrown;*/
	position: absolute;
	top: 30px;
}
.footer-top ul li{
	width: 297px;
	float: left;
}
.footer-top ul li img{
	float: left;
	margin-left: 50px;
}
.footer-top ul li p{
	float: left;
	color: #444;
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 700;
}

.footer_body{
	width: 1190px;
	height: 200px;
	/*background: salmon;*/
}
.footer_body dl{
	width: 198px;
	height: 159px;
	float: left;
	color: #666;
	margin-top: 20px;
}
.footer_body dl dt{
	font-weight: 700;
	font-size: 15px;
	margin-bottom: 5px;
}
.footer_body dl dd{
	font-size: 12px;
	margin-bottom: 10px;
}
.footer_body_cover{
	float: left;
	width: 200px;
	height: 150px;
	margin-top: 25px;
}
.hr7{
	width: 1349px;
	height: 1px;
	background:#DDDDDD;
	color:#DEDEDE;
	position: absolute;
	left: 0;
	top: 85px;
	border: 0;
}
.hr8{
	width: 1349px;
	height: 1px;
	background: #DDDDDD;
	position: absolute;
	left: 0;
	top: 300px;
	border: 0;
}
.hr9{
	width: 1349px;
	height: 1px;
	background: #EAEAEA;
	position: absolute;
	left: 0;
	top: 63px;
	border: 0;
}
.footer_foot{
	width: 1190px;
	height: 194px;
	/*background: saddlebrown;*/
	margin-top: 20px;
}
.footer_p1{
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #CCCCCC;
}
.footer_p{
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	color: #666666;
}
.footer_foot a{
	padding: 0 10px;
}
.footer_foot img{
	margin-left: 240px;
	margin-top:10px ;
}


/*.btns{
	position: fixed;
	left: -50px;
	top: 250px;
	width: 50px;
	height: 400px;
}
.btns li{
	width: 36px;
	height: 36px;
	background: #000;
	margin-top: 3px;
	text-align: center;
	color: #fff;
	transition:all 0.5s linear;
	opacity: 0.8;
	font-size: 12px;
	cursor: pointer;
}
.btns span{
	width: 36px;
	background: red;
	height: 28px;
	position: fixed;
	left: -50px;
	top:220px;
	text-align: center;
	line-height: 30px;
	color: #fff;
}
.btns a{
	width: 36px;
	height: 36px;
	background: #888888;
	position: fixed;
	left: -50px;
	top:487px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	z-index: 2;
}
.btns a:hover{
	background: red;
}*/